body{
    background-color: black;
    height: 100vh;
    
}
.hidden{
    display: none;
    background-color: red;
    text-align: center;
}
.imgWinner{
    width: 40%;
}
#restart{
    width: 200px;
    height: 40px;
}

.scoreboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    font-family: 'Quicksand', sans-serif;
    border: solid white;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin-left: 35%;
    /* border-bottom: 2px solid silver; */
}
.playerOne{
    color: red;
    
}
.playerTwo{
    color:blue;
}

.scoreboardPointsA{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
.scoreboardPointsB{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
.playerOneJustScored{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: inset yellow;
}
.playerOneJustScored:hover{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    background-color: yellow;
}
.playerTwoJustScored{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: inset yellow;
}
.playerTwoJustScored:hover{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    background-color: yellow;
}
.cupParent{
    /* display: flex;
    margin-top: 10%;
    border: solid red;  
    justify-content: space-around;   */

}
.cup1{
    border-radius: 50%;
}
.cup2{
    border-radius: 50%;

}
.cup3{
    border-radius: 50%;
}