body{
    background-color: black;
    height: 100vh;
    
}
.hidden{
    display: none;
    background-color: red;
    text-align: center;
}
.imgWinner{
    width: 40%;
}
#restart{
    width: 200px;
    height: 40px;
}

.scoreboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    font-family: 'Quicksand', sans-serif;
    border: solid white;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin-left: 35%;
    /* border-bottom: 2px solid silver; */
}
.playerOne{
    color: red;
    
}
.playerTwo{
    color:blue;
}

.scoreboardPointsA{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
.scoreboardPointsB{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
.playerOneJustScored{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: inset yellow;
}
.playerOneJustScored:hover{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    background-color: yellow;
}
.playerTwoJustScored{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: inset yellow;
}
.playerTwoJustScored:hover{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    background-color: yellow;
}
.cupParent{
    display: flex;
    margin-top: 10%;
    justify-content: space-around; 
    }
.cup1{
    border-radius: 50%;
    border: solid red;
    height: 175px;
    width: 175px;
    margin-left: 250px;
    
}

.cupOne{
    animation-name: rightroll;
    animation-duration: 2s;   
}
  @keyframes rightroll {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px) rotate(540deg);
              transform: translateX(1000px) rotate(540deg);
      opacity: 0;
    }
  }
  
.cup2{
    border-radius: 50%;
    border: solid red;
    height: 175px;
    width: 175px;
    

}
.cupTwo{
    animation-name: bounceup;
    animation-duration: 1.5s;
}
@-webkit-keyframes bounceup {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    5% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    15% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    25% {
      -webkit-transform: translateY(-38px);
              transform: translateY(-38px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    52% {
      -webkit-transform: translateY(-75px);
              transform: translateY(-75px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    70% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    85% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-800px);
              transform: translateY(-800px);
      opacity: 0;
    }
  }
.cup3{
    border-radius: 50%;
    border: solid red;
    height: 175px;
    width: 175px;
    margin-right: 250px;
    
}
.cupThree{
    animation-name: leftroll;
    animation-duration: 2s;
}
@-webkit-keyframes leftroll {
    0% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px) rotate(-540deg);
              transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
    }
  }
  .pebble{
      margin-top: 250px;
      height: 60px;
      animation-name: rockout;
      animation-duration: .5s;


  }
  @-webkit-keyframes rockout {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  .rock{
    position: absolute;
    
  }
  #btn-start{
      width: 50px;
      height: 30px;
      border: solid red;
      border-radius: .35em;
      font-weight: bold;
      font-size: 1em;
      font-family: sans-serif;
      box-shadow: inset limegreen;
  
  }
  #btn-start:hover{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    background-color: limegreen;

  }
  .reload{
    width: 80px;
    height: 30px;
    border: solid red;
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
  }
  .reload:hover{
    border-radius: .35em;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    background-color: yellow;

  }

  /* .wrongGirl{

  } */